@import 'src/styles/index';

.card {
  padding: 40px;
  border-radius: 0.5rem;

  &__heading {
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  &__description {
    font-size: 1rem;
    line-height: 1.4rem;
    margin: .8rem 0 0;
  }

  &--light {
    background-color: #EFEEE6;

    .card__description {
      color: #78716c;
    }
  }

  &--dark {
    background-color: #1b4c42;
    color: white;

    .card__description {
      color: #e7e5e4;
    }
  }
}

@media (max-width: 900px) {
  .card {
    padding: 24px;
  }
}
