@import 'src/styles/index';

.section {
  &__list {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;

    .list-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px;

      svg {
        stroke: $color-emperor;
        stroke-width: 2.2;
        transition: stroke 0.3s;
        height: 25px;

        &:hover {
          stroke: $color-tradewind;
        }
      }

      &--active {
        svg {
          stroke: $color-green-haze;
          stroke-width: 2.6;
        }
      }
    }

    .button {
      border: none;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      span {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        margin: 0 0 0 8px;
        background-color: $color-green-haze;
        width: 25px;
        height: 25px;
        color: $color-white;
        border-radius: .25rem;
        font-size: .87rem;
      }
    }

    @media (max-width: 900px) {
        margin: 0;
        padding: 0;
        justify-content: flex-end;

        .list-item {
          svg {
            height: 23px;
          }

          &--hide-on-mobile {
            display: none;
          }
        }

        .button {
          span {
            width: 16px;
            height: 19px;
            margin: 0 0 0 4px;
            font-size: 0.8rem;
          }
        }
    }
  }
}
