@import 'base/base';
@import 'mixins/mixins';
@import 'base/colors';
@import 'src/styles/base/colors';
@import 'src/styles/base/typography';
@import 'src/styles/base/spacings';

body {
  margin: auto;
  padding: 0;
  max-width: 1300px;
  background-color: #6ac0a91c;
}

.app {
  display: flex;
  flex-direction: column;
}

.content {
  margin: auto;
}
