@import 'base/base';
@import 'mixins/mixins';
@import 'base/colors';
@import 'src/styles/base/colors';
@import 'src/styles/base/typography';
@import 'src/styles/base/spacings';

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------- */

body {
  margin: auto;
  padding: 0;
  max-width: 1300px;
  background-color: #c3f0e411;
}

.app {
  display: flex;
  flex-direction: column;
}

.content {
  margin: auto;
  padding: 20px 32px;
}

@media (max-width: 900px) {
  .content {
    padding: 10px 24px;
  }
}
