// For naming use https://chir.ag/projects/name-that-color

$color-black: #000;
$color-gray: #bcbcbc;
$color-mercury: #e6e6e6;
$color-emperor: #525252;
$color-white: white;
$color-apricot: #e59e77;

$color-green-pea: #19654E;

// Navigation bottom border colors
$color-tradewind: #5db39d;
$color-gossamer: #0ea17f;

$color-green-haze: #059669;

$color-teak: #ba9e6e;
